/* PHASE 8: Thumbs */
.thumb {
  position: relative;
  width: 60px;
  height: 60px;
}

.profile-friends > li {
  position: relative;
  float: left;
  width: 30%;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.thumb img {
  border-radius: 5px;
}

.profile-friends > li:nth-child(3n -1) {
  margin-right: 6px;
  margin-left: 6px;
}

.thumb::before {
  z-index: 1;
  content: attr(title);
  position: absolute;
  top: -28px;
  display: none;
  color: white;
  background: black;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.thumb:hover::before {
  display: block;
}

.thumb::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 8px solid black;
  border-bottom: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  top: -12%;
}
.thumb:hover::after {
  display: block;
}
